.wp-block-ensemble-signet {

	.ensemble-signet-title {
		display: flex;
	}

	figure {
		display: flex;
		justify-content: center;
		flex-direction: column;

		img {
			max-width: 100%;
			padding-bottom: 1em;
		}
	}
}
