.wp-block-ensemble-signet {
	color: #FFF;

	> div {

		> a,
		> p {
			padding: 0 1em;
			display: block;
		}

		> a {
			margin-top: 1em;
		}
	}

	&.aligncenter {

		.ensemble-signet-figure {
			margin: 0 auto;
		}
	}

	.ensemble-signet-figure {
		display: flex;
		justify-content: center;
		flex-direction: column;
		max-width: 600px;
		border: solid 1px var(--wp--preset--color--bleu-tres-fonce);
		border-radius: 5px;
		background-color: var(--wp--preset--color--bleu-tres-fonce);

		a,
		p {
			color: #FFF;

			&.ensemble-signet-description {
				margin-top: 0;
				margin-bottom: 1em;
			}

			&.signet-url {
				display: block;
				margin-bottom: 1em;
			}
		}

		img {
			max-width: 100%;
			display: block;
			padding-bottom: 1em;
			margin: 0 auto;
		}

		figcaption {
			padding: 0 1em;
		}

		.ensemble-signet-title {
			font-size: 1.3rem;
		}
	}
}
