<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"search-header alignfull","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|60"},"margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"inherit":true}} -->
	<section class="wp-block-group search-header alignfull" style="margin-bottom:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--60);">
		<!-- wp:group {"tagName":"div","layout":{"inherit":true}} -->
		<div class="wp-block-group">
		<!-- wp:query-title {"type":"search","showSearchTerm":true,"level":2} /-->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
	<!-- wp:query -->
	<div class="wp-block-query">
		<!-- wp:post-template -->
			<!-- wp:ensemble/post-format-template {"format":"standard"} -->
				<!-- wp:group {"tagName":"section","className":"entry-header","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-header">
					<!-- wp:post-title {"isLink":true,"level":3} /-->
					<!-- wp:pattern {"slug":"ensemble/entry-header"} /-->
					<!-- wp:post-featured-image {"isLink":true} /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:group {"tagName":"section","className":"entry-excerpt","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-excerpt">
					<!-- wp:spacer {"height":"10px"} -->
					<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->
					<!-- wp:post-content /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:group {"tagName":"section","className":"entry-footer","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-footer">
					<!-- wp:pattern {"slug":"ensemble/entry-footer"} /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:spacer {"height":"20px"} -->
				<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->
			<!-- /wp:ensemble/post-format-template -->
			<!-- wp:ensemble/post-format-template {"format":"link"} -->
				<!-- wp:group {"tagName":"section","className":"entry-header signet-header","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-header signet-header">
					<!-- wp:pattern {"slug":"ensemble/signet-header-three"} /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:group {"tagName":"section","className":"entry-excerpt signet-content","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-excerpt signet-content">
					<!-- wp:spacer {"height":"10px"} -->
					<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->
					<!-- wp:post-content /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:spacer {"height":"20px"} -->
				<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->
			<!-- /wp:ensemble/post-format-template -->
			<!-- wp:ensemble/post-format-template {"format":"status"} -->
				<!-- wp:group {"tagName":"section","className":"entry-header breve-header","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-header breve-header">
					<!-- wp:pattern {"slug":"ensemble/breve-header-three"} /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:group {"tagName":"section","className":"entry-excerpt breve-content","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-excerpt breve-content">
					<!-- wp:spacer {"height":"10px"} -->
					<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
					<!-- /wp:spacer -->
					<!-- wp:post-content /-->
				</section>
				<!-- /wp:group -->
				<!-- wp:spacer {"height":"20px"} -->
				<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
				<!-- /wp:spacer -->
			<!-- /wp:ensemble/post-format-template -->
		<!-- /wp:post-template -->
		<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
		<!-- wp:query-no-results -->
			<!-- wp:pattern {"slug":"ensemble/search-no-results"} /-->

			<!-- wp:spacer {"height":"50px"} -->
			<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
