<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":false}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"entry-header","layout":{"inherit":true}} -->
	<section class="wp-block-group entry-header">
		<!-- wp:post-title /-->
		<!-- wp:pattern {"slug":"ensemble/entry-header"} /-->
		<!-- wp:ensemble/image-a-la-une /-->
	</section>
	<!-- /wp:group -->
	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:post-content {"tagName":"section","layout":{"inherit":true}} /-->
	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:group {"tagName":"section","className":"entry-footer","layout":{"inherit":true}} -->
	<section class="wp-block-group entry-footer">
		<!-- wp:pattern {"slug":"ensemble/entry-footer"} /-->
		<!-- wp:spacer {"height":40} -->
		<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
		<!-- wp:post-navigation-link {"type":"previous"} /-->
		<!-- wp:post-navigation-link /-->
	</section>
	<!-- /wp:group -->
	<!-- wp:spacer {"height":40} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:template-part {"slug":"comments","tagName":"section"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
