<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":false}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"entry-header signet-header","layout":{"inherit":true}} -->
	<section class="wp-block-group entry-header signet-header">
		<!-- wp:pattern {"slug":"ensemble/signet-header-two"} /-->
	</section>
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"section","className":"signet-content","layout":{"inherit":true}} -->
	<section class="wp-block-group signet-content">
		<!-- wp:post-content /-->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
